In [1]:
#Import Statements
from pyspark.sql import SparkSession

In [3]:
# Create the dataFrame

spark=SparkSession.builder.appName('dataframe').getOrCreate()
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

PySpark SQL

- PySpark SQL is one of the most used PySpark modules which is used for processing structured columnar data format. Once you have a DataFrame created, you can interact with the data by using SQL syntax.

- In other words, Spark SQL brings native SQL queries on Spark meaning you can run traditional ANSI SQLâ€™s on Spark Dataframe, in the later section of this PySpark SQL tutorial, you will learn in detail using SQL select, where, group by, join, union e.t.c

- In order to use SQL, first, create a temporary table on DataFrame using createOrReplaceTempView() function. Once created, this table can be accessed throughout the SparkSession using sql() and it will be dropped along with your SparkContext termination.

- Use sql() method of the SparkSession object to run the query and this method returns a new DataFrame.

In [4]:
df_pyspark.createOrReplaceTempView("PEOPLE")
df1=spark.sql("select Name, age, Experience, Salary as salary from PEOPLE")
df1.show()

+---------+---+----------+------+
|     Name|age|Experience|salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

~ Filter Operations ~

In [5]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [6]:
# Perform this operation using PySpark SQL

df_pyspark.createOrReplaceTempView("people") #create a SQL tem view

result_df = spark.sql("SELECT * FROM people WHERE Salary <= 20000")
result_df.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [7]:
# DF operation
df_pyspark.filter("Salary<20000").select(['Name','age']).show()

#Using pySpark SQL
spark.sql("SELECT Name, age FROM people WHERE Salary < 20000").show()

+-------+---+
|   Name|age|
+-------+---+
| Harsha| 21|
|Shubham| 23|
+-------+---+

+-------+---+
|   Name|age|
+-------+---+
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [10]:
# Using Dataframe
df_pyspark.filter(df_pyspark['Salary']<20000).show()
df_pyspark.filter((df_pyspark['Salary']<20000) | 
                  (df_pyspark['Salary']>=15000)).show()

#Using pySpark SQL
spark.sql("SELECT Name, Salary FROM people WHERE Salary < 20000 AND Salary >= 15000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

+-------+------+
|   Name|Salary|
+-------+------+
| Harsha| 15000|
|Shubham| 18000|
+-------+------+

In [12]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show() # using not operator and pyspark dfs

df_pyspark.filter(df_pyspark['Salary'] > 20000).show() # using greater than operator

spark.sql("SELECT * FROM people WHERE NOT Salary <= 20000").show() # using pySpark SQL

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+